.flex-container {
    width: 300px;
    height: 200px;
    background-color: #c4c4c4;
    border: 1px solid black;
}

.flex-item {
    color: white;
    background-color: #ff5252;
}

.flex-item:nth-child(2n) {
    background-color: #bf5e5e;
}

.flex-container2 {
    display: flex;
    width: 300px;
    height: 200px;
    background-color: #c4c4c4;
    border: 1px solid black;
}

.flex-container3 {
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    height: 200px;
    background-color: #c4c4c4;
    border: 1px solid black;
}

.flex-container4 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: #c4c4c4;
    border: 1px solid black;
}

.flex-container5 {
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    height: 200px;
    background-color: #c4c4c4;
    border: 1px solid black;
}

.flex-container6 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 300px;
    height: 200px;
    background-color: #c4c4c4;
    border: 1px solid black;
}

