.grid-item {
    color: white;
    background-color: #ff5252 /* 기본 배경색 */
}

.grid-item:nth-child(2n) {
    background-color: #bf5e5e;
}

.grid-container1 {
    display: grid;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px 100px;
}

.grid-container4 {
    display: grid;
    /* 두 열이나 행이 같은 크기일 때 repeat()함수 */
    grid-template-columns: repeat(2, 100px); /* 100px 100px */
    grid-template-rows: repeat(2, 50px); /* 50px 50px */
}

.grid-container5 {
    display: grid;
    /* minmax() 함수로 열 또는 행 크기의 최솟값과 최댓값 지정 */
    grid-template-columns: minmax(10px, 100px) 100px; /* (최소 10px ~ 최대 100px) 100px */
    grid-template-rows: minmax(10px, 50px) 50px; /* (최소 10px~50px) 50px */
}

.grid-container6 {
    display: grid;
    /* repeat(), minmax() 둘 다 사용 */
    grid-template-columns: repeat(2, minmax(50px, 100px)); 
    /* 두 열 최소 50px ~ 최대 100px */
    grid-template-rows: repeat(2, minmax(10px, 50px));
    /* 두 행 최소 10px ~ 최대 50px */
}

.grid-container7 {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    row-gap: 10px;
    column-gap: 20px;
}

.grid-container8 {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    align-items: start; /* start, center, end */
}

.grid-container9 {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    justify-items: center; /* stretch, start, end */
}

.grid-container10 {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    place-items: center end; /* align-items: center, justify-items: end */
    place-self: center end; /* align-self: center, justify-self: end */
}

.grid-container11 {
    display: grid;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
}

#content {
    grid-area: content;
}

#footer {
    grid-area: footer;
}